<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{% block title %}Credenciales de acceso a BrainyGym{% endblock %}</title>
    <style>
        @media (min-width: 1441px) {
            .container {
                width: 50%;
                padding: 10px;
            }

            /* ROW CLASSES */
            .row {
                padding: 5px;
            }

            /* COLUMNS CLASSES */
            .col {
                display: inline-block;
                position: relative;
            }

            .w-100 {
                width: 100%;
            }

            .w-50 {
                width: 50%;
            }

            .w-48 {
                width: 48%;
            }

            .logo-center {
                width: 125px;
                height: auto;
                display: block;
                position: relative;
                margin-left: auto;
                margin-right: auto;
            }

            .plot {
                width: 100%;
                height: 30px;
                display: block;
                position: relative;
            }

            /* TEXT ALIGN */
            .center-align {
                text-align: center;
            }

            .object-center-align {
                margin-left: auto;
                margin-right: auto;
            }

            .span {
                font-size: 17px;
            }
        }

        @media (max-width: 1440px) {
            .container {
                width: 80%;
                padding: 10px;
            }

            /* ROW CLASSES */
            .row {
                padding: 5px;
            }

            /* COLUMNS CLASSES */
            .col {
                display: inline-block;
                position: relative;
            }

            .w-100 {
                width: 100%;
            }

            .w-50 {
                width: 50%;
            }

            .w-48 {
                width: 48%;
            }

            .logo-center {
                width: 125px;
                height: auto;
                display: block;
                position: relative;
                margin-left: auto;
                margin-right: auto;
            }

            .plot {
                width: 100%;
                height: 30px;
                display: block;
                position: relative;
            }

            /* TEXT ALIGN */
            .center-align {
                text-align: center;
            }

            .object-center-align {
                margin-left: auto;
                margin-right: auto;
            }

            .span {
                font-size: 20px;
            }
        }
    </style>
</head>
<body>
<div class="container object-center-align" style="background-color: rgba(229,229,229,0.27); border-top-right-radius: 10px; border-top-left-radius: 10px;">
    <div class="row" style="margin-top: 5px;">
        <h1 class="center-align" style="color: rgb(35,31,28);"><strong>Bienvenido a BrainyGym</strong></h1>
    </div>
    <br>
    <div class="row">
        <div class="col w-100 center-align">
            <span>Bienvenido a BrainyGym, a continuación, te aportamos tus datos de acceso para que comiences a disfrutar de nuestro sistema:</span>
            <br><span><strong>Usuario:</strong> {{ correo }}</span>
            <br><span><strong>Contraseña:</strong> {{ access_key }}</span>
        </div>
    </div>
    <br>
</div>
<div class="container object-center-align" style="background-color: #f3f2ed;">
    <div class="col w-100 center-align">
        <a href="http://localhost">
            <img src="{{ absolute_url(asset('assets/images/brainygym_logo.png')) }}" alt="Logo BrainyGym" class="logo-center">
        </a>
    </div>
</div>
</body>
</html>



